=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class BudgetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete budget
    # Removes the budget for the given category and period. If there already is no budget set for that period, the request still succeeds (idempotent).<p> Note that `start_date` **must** be a valid budget period start for the account (based on the account's budget period settings). If an invalid `start_date` is provided, the request will fail with an error that indicates what the previous and next valid start dates are.<p> Use the [budgets/settings](#tag/budgets/GET/budgets/settings) endpoint to view the account's budget settings.<br> To view existing budgets details use the [summary](#tag/summary) endpoint.
    # @param category_id [Integer] Category ID of the budget to delete
    # @param start_date [Date] Start date of the budget period in ISO 8601 date format (YYYY-MM-DD)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_budget(category_id, start_date, opts = {})
      delete_budget_with_http_info(category_id, start_date, opts)
      nil
    end

    # Delete budget
    # Removes the budget for the given category and period. If there already is no budget set for that period, the request still succeeds (idempotent).&lt;p&gt; Note that &#x60;start_date&#x60; **must** be a valid budget period start for the account (based on the account&#39;s budget period settings). If an invalid &#x60;start_date&#x60; is provided, the request will fail with an error that indicates what the previous and next valid start dates are.&lt;p&gt; Use the [budgets/settings](#tag/budgets/GET/budgets/settings) endpoint to view the account&#39;s budget settings.&lt;br&gt; To view existing budgets details use the [summary](#tag/summary) endpoint.
    # @param category_id [Integer] Category ID of the budget to delete
    # @param start_date [Date] Start date of the budget period in ISO 8601 date format (YYYY-MM-DD)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_budget_with_http_info(category_id, start_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BudgetsApi.delete_budget ...'
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling BudgetsApi.delete_budget"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling BudgetsApi.delete_budget"
      end
      # resource path
      local_var_path = '/budgets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category_id'] = category_id
      query_params[:'start_date'] = start_date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"BudgetsApi.delete_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#delete_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get budget settings
    # Returns the budget-related settings for the user's account.
    # @param [Hash] opts the optional parameters
    # @return [BudgetSettingsResponseObject]
    def get_budget_settings(opts = {})
      data, _status_code, _headers = get_budget_settings_with_http_info(opts)
      data
    end

    # Get budget settings
    # Returns the budget-related settings for the user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BudgetSettingsResponseObject, Integer, Hash)>] BudgetSettingsResponseObject data, response status code and response headers
    def get_budget_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BudgetsApi.get_budget_settings ...'
      end
      # resource path
      local_var_path = '/budgets/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BudgetSettingsResponseObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"BudgetsApi.get_budget_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#get_budget_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert budget
    # Create or update a budget for a category and period.<p> If a budget already exists for the specified `start_date` and `category_id`, the `amount` (and optional `currency` and `notes`) are updated; otherwise a new budget entry is created.<p>  Note that `start_date` **must** be a valid budget period start for the account (based on the account's budget period settings). If an invalid `start_date` is provided, the request will fail with an error that indicates what the previous and next valid start dates are.<p>  Use the [budgets/settings](#tag/budgets/GET/budgets/settings) endpoint to view the account's budget settings.<br> To view existing budgets details use the [summary](#tag/summary) endpoint.
    # @param upsert_budget_request_object [UpsertBudgetRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [BudgetUpsertResponseObject]
    def upsert_budget(upsert_budget_request_object, opts = {})
      data, _status_code, _headers = upsert_budget_with_http_info(upsert_budget_request_object, opts)
      data
    end

    # Upsert budget
    # Create or update a budget for a category and period.&lt;p&gt; If a budget already exists for the specified &#x60;start_date&#x60; and &#x60;category_id&#x60;, the &#x60;amount&#x60; (and optional &#x60;currency&#x60; and &#x60;notes&#x60;) are updated; otherwise a new budget entry is created.&lt;p&gt;  Note that &#x60;start_date&#x60; **must** be a valid budget period start for the account (based on the account&#39;s budget period settings). If an invalid &#x60;start_date&#x60; is provided, the request will fail with an error that indicates what the previous and next valid start dates are.&lt;p&gt;  Use the [budgets/settings](#tag/budgets/GET/budgets/settings) endpoint to view the account&#39;s budget settings.&lt;br&gt; To view existing budgets details use the [summary](#tag/summary) endpoint.
    # @param upsert_budget_request_object [UpsertBudgetRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BudgetUpsertResponseObject, Integer, Hash)>] BudgetUpsertResponseObject data, response status code and response headers
    def upsert_budget_with_http_info(upsert_budget_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BudgetsApi.upsert_budget ...'
      end
      # verify the required parameter 'upsert_budget_request_object' is set
      if @api_client.config.client_side_validation && upsert_budget_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_budget_request_object' when calling BudgetsApi.upsert_budget"
      end
      # resource path
      local_var_path = '/budgets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_budget_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'BudgetUpsertResponseObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"BudgetsApi.upsert_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#upsert_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
