=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class CategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new category or category group
    # Creates a new category with the given name.<br> If the `is_group` attribute is set to true, a category group is created. In this case, the `children` attribute may be set to an array of existing category IDs to add to the newly-created category group.
    # @param create_category_request_object [CreateCategoryRequestObject]
    # @param [Hash] opts the optional parameters
    # @return [CategoryObject]
    def create_category(create_category_request_object, opts = {})
      data, _status_code, _headers = create_category_with_http_info(create_category_request_object, opts)
      data
    end

    # Create a new category or category group
    # Creates a new category with the given name.&lt;br&gt; If the &#x60;is_group&#x60; attribute is set to true, a category group is created. In this case, the &#x60;children&#x60; attribute may be set to an array of existing category IDs to add to the newly-created category group.
    # @param create_category_request_object [CreateCategoryRequestObject]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoryObject, Integer, Hash)>] CategoryObject data, response status code and response headers
    def create_category_with_http_info(create_category_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoriesApi.create_category ...'
      end
      # verify the required parameter 'create_category_request_object' is set
      if @api_client.config.client_side_validation && create_category_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_category_request_object' when calling CategoriesApi.create_category"
      end
      # resource path
      local_var_path = '/categories'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_category_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"CategoriesApi.create_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a category or category group
    # Attempts to delete the single category or category group specified on the path. By default, this will only work if there are no dependencies, such as existing budgets for the category, categorized transactions, children categories for a category group, categorized recurring items, etc. If there are dependents, this endpoint will return an object that describes the amount and type of existing dependencies.
    # @param id [Integer] ID of the category to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Set to &#x60;true&#x60; to force deletion even if there are dependencies (default to false)
    # @return [nil]
    def delete_category(id, opts = {})
      delete_category_with_http_info(id, opts)
      nil
    end

    # Delete a category or category group
    # Attempts to delete the single category or category group specified on the path. By default, this will only work if there are no dependencies, such as existing budgets for the category, categorized transactions, children categories for a category group, categorized recurring items, etc. If there are dependents, this endpoint will return an object that describes the amount and type of existing dependencies.
    # @param id [Integer] ID of the category to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Set to &#x60;true&#x60; to force deletion even if there are dependencies (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_category_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoriesApi.delete_category ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CategoriesApi.delete_category"
      end
      # resource path
      local_var_path = '/categories/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"CategoriesApi.delete_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#delete_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all categories
    # Retrieve a list of all categories associated with the user's account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format If &#x60;nested&#x60;, returns top-level categories (either category groups or categories not part of a category group) in alphabetical order. Grouped categories are nested within the category group under the property &#x60;children&#x60;. A &#x60;flattened&#x60;, response is similar but it includes grouped categories at the top level.&lt;br/&gt;&lt;br/&gt; Categories are sorted by their &#x60;order&#x60;. When &#x60;order&#x60; is null, they are listed in alphabetical order below other categories with an &#x60;order&#x60;. (default to 'nested')
    # @option opts [Boolean] :is_group If &#x60;false&#x60;, only categories not part of a category group are returned.&lt;br&gt; If &#x60;true&#x60;, only category groups are returned.&lt;br&gt; When set, the &#x60;format&#x60; parameter is ignored.
    # @return [GetAllCategories200Response]
    def get_all_categories(opts = {})
      data, _status_code, _headers = get_all_categories_with_http_info(opts)
      data
    end

    # Get all categories
    # Retrieve a list of all categories associated with the user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format If &#x60;nested&#x60;, returns top-level categories (either category groups or categories not part of a category group) in alphabetical order. Grouped categories are nested within the category group under the property &#x60;children&#x60;. A &#x60;flattened&#x60;, response is similar but it includes grouped categories at the top level.&lt;br/&gt;&lt;br/&gt; Categories are sorted by their &#x60;order&#x60;. When &#x60;order&#x60; is null, they are listed in alphabetical order below other categories with an &#x60;order&#x60;. (default to 'nested')
    # @option opts [Boolean] :is_group If &#x60;false&#x60;, only categories not part of a category group are returned.&lt;br&gt; If &#x60;true&#x60;, only category groups are returned.&lt;br&gt; When set, the &#x60;format&#x60; parameter is ignored.
    # @return [Array<(GetAllCategories200Response, Integer, Hash)>] GetAllCategories200Response data, response status code and response headers
    def get_all_categories_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoriesApi.get_all_categories ...'
      end
      allowable_values = ["nested", "flattened"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'is_group'] = opts[:'is_group'] if !opts[:'is_group'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllCategories200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"CategoriesApi.get_all_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#get_all_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single category
    # Retrieve details of a specific category or category group by its ID.
    # @param id [Integer] ID of the category to retrieve
    # @param [Hash] opts the optional parameters
    # @return [CategoryObject]
    def get_category_by_id(id, opts = {})
      data, _status_code, _headers = get_category_by_id_with_http_info(id, opts)
      data
    end

    # Get a single category
    # Retrieve details of a specific category or category group by its ID.
    # @param id [Integer] ID of the category to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoryObject, Integer, Hash)>] CategoryObject data, response status code and response headers
    def get_category_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoriesApi.get_category_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CategoriesApi.get_category_by_id"
      end
      # resource path
      local_var_path = '/categories/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"CategoriesApi.get_category_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#get_category_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing category or category group
    # Modifies the properties of an existing category or category group.<br><br> You may submit the response from a `GET /categories/{id}` as the request body; however, only certain properties can be updated using this API. The following properties are accepted in the request body but their values will be ignored: `id`, `is_group`,`archived_at`, `updated_at`, `created_at`, and `order`.<br><br> It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example, a request body that contains only a `name` property is valid.<br><br> It is not possible to use this API to convert a category to a category group, or a vice versa, so while submitting a request body with the `is_group` property is tolerated, it will result in an error response if the value is changed.<br><br> It is possible to modify the children of an existing category group with this API by setting the `children` attribute. If this is set, it will replace the existing children with the newly specified children. If the intention is to add or remove a single category, it is more straightforward to update the child category by specifying the new `group_id` attribute. If the goal is to add multiple new children or remove multiple existing children, it is recommended to first call the `GET /categories/:id` endpoint to get the existing children and then modify the list as desired.<br><br>
    # @param id [Integer] ID of the category to update
    # @param update_category_request_object [UpdateCategoryRequestObject]
    # @param [Hash] opts the optional parameters
    # @return [CategoryObject]
    def update_category(id, update_category_request_object, opts = {})
      data, _status_code, _headers = update_category_with_http_info(id, update_category_request_object, opts)
      data
    end

    # Update an existing category or category group
    # Modifies the properties of an existing category or category group.&lt;br&gt;&lt;br&gt; You may submit the response from a &#x60;GET /categories/{id}&#x60; as the request body; however, only certain properties can be updated using this API. The following properties are accepted in the request body but their values will be ignored: &#x60;id&#x60;, &#x60;is_group&#x60;,&#x60;archived_at&#x60;, &#x60;updated_at&#x60;, &#x60;created_at&#x60;, and &#x60;order&#x60;.&lt;br&gt;&lt;br&gt; It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example, a request body that contains only a &#x60;name&#x60; property is valid.&lt;br&gt;&lt;br&gt; It is not possible to use this API to convert a category to a category group, or a vice versa, so while submitting a request body with the &#x60;is_group&#x60; property is tolerated, it will result in an error response if the value is changed.&lt;br&gt;&lt;br&gt; It is possible to modify the children of an existing category group with this API by setting the &#x60;children&#x60; attribute. If this is set, it will replace the existing children with the newly specified children. If the intention is to add or remove a single category, it is more straightforward to update the child category by specifying the new &#x60;group_id&#x60; attribute. If the goal is to add multiple new children or remove multiple existing children, it is recommended to first call the &#x60;GET /categories/:id&#x60; endpoint to get the existing children and then modify the list as desired.&lt;br&gt;&lt;br&gt;
    # @param id [Integer] ID of the category to update
    # @param update_category_request_object [UpdateCategoryRequestObject]
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoryObject, Integer, Hash)>] CategoryObject data, response status code and response headers
    def update_category_with_http_info(id, update_category_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoriesApi.update_category ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CategoriesApi.update_category"
      end
      # verify the required parameter 'update_category_request_object' is set
      if @api_client.config.client_side_validation && update_category_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'update_category_request_object' when calling CategoriesApi.update_category"
      end
      # resource path
      local_var_path = '/categories/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_category_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"CategoriesApi.update_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#update_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
