=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class ManualAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a manual account
    # Create a new manually-managed account.
    # @param create_manual_account_request_object [CreateManualAccountRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [ManualAccountObject]
    def create_manual_account(create_manual_account_request_object, opts = {})
      data, _status_code, _headers = create_manual_account_with_http_info(create_manual_account_request_object, opts)
      data
    end

    # Create a manual account
    # Create a new manually-managed account.
    # @param create_manual_account_request_object [CreateManualAccountRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManualAccountObject, Integer, Hash)>] ManualAccountObject data, response status code and response headers
    def create_manual_account_with_http_info(create_manual_account_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualAccountsApi.create_manual_account ...'
      end
      # verify the required parameter 'create_manual_account_request_object' is set
      if @api_client.config.client_side_validation && create_manual_account_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_manual_account_request_object' when calling ManualAccountsApi.create_manual_account"
      end
      # resource path
      local_var_path = '/manual_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_manual_account_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'ManualAccountObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"ManualAccountsApi.create_manual_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualAccountsApi#create_manual_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a manual account
    # Deletes the single manual account with the ID specified on the path. If any transactions exist with the `manual_account_id` property set to this account's ID they will appear with a warning when displayed in the web view.
    # @param id [Integer] ID of the manual account to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_items When set to true will also delete any transactions, rules, and recurring items associated with this account. Use this option with caution, it is irreversible! (default to false)
    # @option opts [Boolean] :delete_balance_history When set to true will delete any balance history associated with this account. (default to false)
    # @return [nil]
    def delete_manual_account(id, opts = {})
      delete_manual_account_with_http_info(id, opts)
      nil
    end

    # Delete a manual account
    # Deletes the single manual account with the ID specified on the path. If any transactions exist with the &#x60;manual_account_id&#x60; property set to this account&#39;s ID they will appear with a warning when displayed in the web view.
    # @param id [Integer] ID of the manual account to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_items When set to true will also delete any transactions, rules, and recurring items associated with this account. Use this option with caution, it is irreversible! (default to false)
    # @option opts [Boolean] :delete_balance_history When set to true will delete any balance history associated with this account. (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_manual_account_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualAccountsApi.delete_manual_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualAccountsApi.delete_manual_account"
      end
      # resource path
      local_var_path = '/manual_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'delete_items'] = opts[:'delete_items'] if !opts[:'delete_items'].nil?
      query_params[:'delete_balance_history'] = opts[:'delete_balance_history'] if !opts[:'delete_balance_history'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"ManualAccountsApi.delete_manual_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualAccountsApi#delete_manual_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all manual accounts
    # Retrieve a list of all manually-managed accounts associated with the user's account.
    # @param [Hash] opts the optional parameters
    # @return [GetAllManualAccounts200Response]
    def get_all_manual_accounts(opts = {})
      data, _status_code, _headers = get_all_manual_accounts_with_http_info(opts)
      data
    end

    # Get all manual accounts
    # Retrieve a list of all manually-managed accounts associated with the user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllManualAccounts200Response, Integer, Hash)>] GetAllManualAccounts200Response data, response status code and response headers
    def get_all_manual_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualAccountsApi.get_all_manual_accounts ...'
      end
      # resource path
      local_var_path = '/manual_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllManualAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"ManualAccountsApi.get_all_manual_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualAccountsApi#get_all_manual_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single manual account
    # Retrieve the details of the manual account with the specified ID.
    # @param id [Integer] ID of the manual account to retrieve
    # @param [Hash] opts the optional parameters
    # @return [ManualAccountObject]
    def get_manual_account_by_id(id, opts = {})
      data, _status_code, _headers = get_manual_account_by_id_with_http_info(id, opts)
      data
    end

    # Get a single manual account
    # Retrieve the details of the manual account with the specified ID.
    # @param id [Integer] ID of the manual account to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManualAccountObject, Integer, Hash)>] ManualAccountObject data, response status code and response headers
    def get_manual_account_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualAccountsApi.get_manual_account_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualAccountsApi.get_manual_account_by_id"
      end
      # resource path
      local_var_path = '/manual_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManualAccountObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"ManualAccountsApi.get_manual_account_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualAccountsApi#get_manual_account_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing manual account
    # Modifies the properties of an existing manual account.<br><br> You may submit the response from a `GET /manual_accounts/{id}` as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: `id`, `to_base`, `created_at`, and `updated_at`.<br><br> It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only a `name` property is valid.<br><br>
    # @param id [Integer] ID of the manual account to update
    # @param update_manual_account_request_object [UpdateManualAccountRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [ManualAccountObject]
    def update_manual_account(id, update_manual_account_request_object, opts = {})
      data, _status_code, _headers = update_manual_account_with_http_info(id, update_manual_account_request_object, opts)
      data
    end

    # Update an existing manual account
    # Modifies the properties of an existing manual account.&lt;br&gt;&lt;br&gt; You may submit the response from a &#x60;GET /manual_accounts/{id}&#x60; as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: &#x60;id&#x60;, &#x60;to_base&#x60;, &#x60;created_at&#x60;, and &#x60;updated_at&#x60;.&lt;br&gt;&lt;br&gt; It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only a &#x60;name&#x60; property is valid.&lt;br&gt;&lt;br&gt;
    # @param id [Integer] ID of the manual account to update
    # @param update_manual_account_request_object [UpdateManualAccountRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManualAccountObject, Integer, Hash)>] ManualAccountObject data, response status code and response headers
    def update_manual_account_with_http_info(id, update_manual_account_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualAccountsApi.update_manual_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualAccountsApi.update_manual_account"
      end
      # verify the required parameter 'update_manual_account_request_object' is set
      if @api_client.config.client_side_validation && update_manual_account_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'update_manual_account_request_object' when calling ManualAccountsApi.update_manual_account"
      end
      # resource path
      local_var_path = '/manual_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_manual_account_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'ManualAccountObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"ManualAccountsApi.update_manual_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualAccountsApi#update_manual_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
