=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class PlaidAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all accounts synced via Plaid
    # Retrieve a list of all synced accounts associated with the user's account.
    # @param [Hash] opts the optional parameters
    # @return [GetAllPlaidAccounts200Response]
    def get_all_plaid_accounts(opts = {})
      data, _status_code, _headers = get_all_plaid_accounts_with_http_info(opts)
      data
    end

    # Get all accounts synced via Plaid
    # Retrieve a list of all synced accounts associated with the user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllPlaidAccounts200Response, Integer, Hash)>] GetAllPlaidAccounts200Response data, response status code and response headers
    def get_all_plaid_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidAccountsApi.get_all_plaid_accounts ...'
      end
      # resource path
      local_var_path = '/plaid_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllPlaidAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"PlaidAccountsApi.get_all_plaid_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidAccountsApi#get_all_plaid_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single account that is synced via Plaid
    # Retrieve the details of the plaid account with the specified ID.
    # @param id [Integer] ID of the plaid account to retrieve
    # @param [Hash] opts the optional parameters
    # @return [PlaidAccountObject]
    def get_plaid_account_by_id(id, opts = {})
      data, _status_code, _headers = get_plaid_account_by_id_with_http_info(id, opts)
      data
    end

    # Get a single account that is synced via Plaid
    # Retrieve the details of the plaid account with the specified ID.
    # @param id [Integer] ID of the plaid account to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlaidAccountObject, Integer, Hash)>] PlaidAccountObject data, response status code and response headers
    def get_plaid_account_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidAccountsApi.get_plaid_account_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PlaidAccountsApi.get_plaid_account_by_id"
      end
      # resource path
      local_var_path = '/plaid_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlaidAccountObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"PlaidAccountsApi.get_plaid_account_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidAccountsApi#get_plaid_account_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger Fetch from Plaid
    # Use this endpoint to trigger a fetch for latest data from Plaid.<br><br> Eligible accounts are those who last_fetch value is over 1 minute ago. (Although the limit is every minute, please use this endpoint sparingly!) Successive calls to this endpoint under a minute after the first will return a 425 TOO EARLY response.<br><br> Successful calls will return a 202 ACCEPTED response. Note that fetching from Plaid is a background job. This endpoint simply queues up the job. You may track the `plaid_last_successful_update`, `last_fetch` and `last_import` properties to verify the results of the fetch. The `last fetch` property is updated when Plaid accepts a request to fetch data. The `plaid_last_successful_update`is updated when it successfully contacts the associated financial institution. The `last_import` field is updated only when new transactions have been imported.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Denotes the beginning of the time period to fetch transactions for. If omitted, the most recent transactions will be returned. &lt;br&gt; Required if end_date exists. &lt;br&gt;
    # @option opts [Date] :end_date Denotes the end of the time period you&#39;d like to get transactions for. Required if start_date exists. 
    # @option opts [Integer] :id Specific ID of a plaid account to fetch. If not set the endpoint will trigger a fetch for all eligible accounts.
    # @return [nil]
    def trigger_plaid_account_fetch(opts = {})
      trigger_plaid_account_fetch_with_http_info(opts)
      nil
    end

    # Trigger Fetch from Plaid
    # Use this endpoint to trigger a fetch for latest data from Plaid.&lt;br&gt;&lt;br&gt; Eligible accounts are those who last_fetch value is over 1 minute ago. (Although the limit is every minute, please use this endpoint sparingly!) Successive calls to this endpoint under a minute after the first will return a 425 TOO EARLY response.&lt;br&gt;&lt;br&gt; Successful calls will return a 202 ACCEPTED response. Note that fetching from Plaid is a background job. This endpoint simply queues up the job. You may track the &#x60;plaid_last_successful_update&#x60;, &#x60;last_fetch&#x60; and &#x60;last_import&#x60; properties to verify the results of the fetch. The &#x60;last fetch&#x60; property is updated when Plaid accepts a request to fetch data. The &#x60;plaid_last_successful_update&#x60;is updated when it successfully contacts the associated financial institution. The &#x60;last_import&#x60; field is updated only when new transactions have been imported.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Denotes the beginning of the time period to fetch transactions for. If omitted, the most recent transactions will be returned. &lt;br&gt; Required if end_date exists. &lt;br&gt;
    # @option opts [Date] :end_date Denotes the end of the time period you&#39;d like to get transactions for. Required if start_date exists. 
    # @option opts [Integer] :id Specific ID of a plaid account to fetch. If not set the endpoint will trigger a fetch for all eligible accounts.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def trigger_plaid_account_fetch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaidAccountsApi.trigger_plaid_account_fetch ...'
      end
      # resource path
      local_var_path = '/plaid_accounts/fetch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"PlaidAccountsApi.trigger_plaid_account_fetch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaidAccountsApi#trigger_plaid_account_fetch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
