=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class TagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tag
    # Creates a new tag with the given name
    # @param create_tag_request_object [CreateTagRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [TagObject]
    def create_tag(create_tag_request_object, opts = {})
      data, _status_code, _headers = create_tag_with_http_info(create_tag_request_object, opts)
      data
    end

    # Create a new tag
    # Creates a new tag with the given name
    # @param create_tag_request_object [CreateTagRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagObject, Integer, Hash)>] TagObject data, response status code and response headers
    def create_tag_with_http_info(create_tag_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.create_tag ...'
      end
      # verify the required parameter 'create_tag_request_object' is set
      if @api_client.config.client_side_validation && create_tag_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_tag_request_object' when calling TagsApi.create_tag"
      end
      # resource path
      local_var_path = '/tags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tag_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'TagObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TagsApi.create_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#create_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tag
    # Deletes the tag with the ID specified on the path.<br> If transaction or rules exist with the tag a dependents object is returned and the tag is not deleted. This behavior can be overridden by setting the `force` param to `true`.
    # @param id [Integer] ID of the tag to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Set to true to force deletion even if there are dependencies (default to false)
    # @return [nil]
    def delete_tag(id, opts = {})
      delete_tag_with_http_info(id, opts)
      nil
    end

    # Delete a tag
    # Deletes the tag with the ID specified on the path.&lt;br&gt; If transaction or rules exist with the tag a dependents object is returned and the tag is not deleted. This behavior can be overridden by setting the &#x60;force&#x60; param to &#x60;true&#x60;.
    # @param id [Integer] ID of the tag to delete
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Set to true to force deletion even if there are dependencies (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tag_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.delete_tag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TagsApi.delete_tag"
      end
      # resource path
      local_var_path = '/tags/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TagsApi.delete_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#delete_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get All Tags
    # Retrieve a list of all tags associated with the user's account.
    # @param [Hash] opts the optional parameters
    # @return [GetAllTags200Response]
    def get_all_tags(opts = {})
      data, _status_code, _headers = get_all_tags_with_http_info(opts)
      data
    end

    # Get All Tags
    # Retrieve a list of all tags associated with the user&#39;s account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAllTags200Response, Integer, Hash)>] GetAllTags200Response data, response status code and response headers
    def get_all_tags_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.get_all_tags ...'
      end
      # resource path
      local_var_path = '/tags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAllTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TagsApi.get_all_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#get_all_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single tag
    # Retrieve the details of a specific tag with the specified ID.
    # @param id [Integer] ID of the tag to retrieve
    # @param [Hash] opts the optional parameters
    # @return [TagObject]
    def get_tag_by_id(id, opts = {})
      data, _status_code, _headers = get_tag_by_id_with_http_info(id, opts)
      data
    end

    # Get a single tag
    # Retrieve the details of a specific tag with the specified ID.
    # @param id [Integer] ID of the tag to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagObject, Integer, Hash)>] TagObject data, response status code and response headers
    def get_tag_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.get_tag_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TagsApi.get_tag_by_id"
      end
      # resource path
      local_var_path = '/tags/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TagObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TagsApi.get_tag_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#get_tag_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing tag
    # Updates an existing tag.<br><br> You may submit the response from a `GET /tags/{id}` as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: `id`, `updated_at`, `created_at`, and `archived_at`.<br><br> It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only a `name` attribute is valid.
    # @param id [Integer] ID of the tag to update
    # @param update_tag_request_object [UpdateTagRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [TagObject]
    def update_tag(id, update_tag_request_object, opts = {})
      data, _status_code, _headers = update_tag_with_http_info(id, update_tag_request_object, opts)
      data
    end

    # Update an existing tag
    # Updates an existing tag.&lt;br&gt;&lt;br&gt; You may submit the response from a &#x60;GET /tags/{id}&#x60; as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: &#x60;id&#x60;, &#x60;updated_at&#x60;, &#x60;created_at&#x60;, and &#x60;archived_at&#x60;.&lt;br&gt;&lt;br&gt; It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only a &#x60;name&#x60; attribute is valid.
    # @param id [Integer] ID of the tag to update
    # @param update_tag_request_object [UpdateTagRequestObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagObject, Integer, Hash)>] TagObject data, response status code and response headers
    def update_tag_with_http_info(id, update_tag_request_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.update_tag ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TagsApi.update_tag"
      end
      # verify the required parameter 'update_tag_request_object' is set
      if @api_client.config.client_side_validation && update_tag_request_object.nil?
        fail ArgumentError, "Missing the required parameter 'update_tag_request_object' when calling TagsApi.update_tag"
      end
      # resource path
      local_var_path = '/tags/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tag_request_object)

      # return_type
      return_type = opts[:debug_return_type] || 'TagObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TagsApi.update_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#update_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
