=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class TransactionsGroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a transaction group
    # Specify a set of existing transaction IDs to group together as a single grouped transaction.  The new transaction will have an amount equal to the sum of the grouped transaction amounts. If the  grouped transactions have different currencies, the new group transaction will be set in the user's default currency.<br><br>  After a transaction has been grouped, the original transactions are no longer shown on the  transactions page or returned by a `GET /transactions` request. The newly created grouped  transaction is returned instead.  To see the details of the original transactions that were used to create a transaction group, use the `GET /transactions/{id}` endpoint and pass the ID of the grouped transaction. The grouped transactions will be included in the `children` property of the transaction returned in the response 
    # @param group_transactions_request [GroupTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TransactionObject]
    def group_transactions(group_transactions_request, opts = {})
      data, _status_code, _headers = group_transactions_with_http_info(group_transactions_request, opts)
      data
    end

    # Create a transaction group
    # Specify a set of existing transaction IDs to group together as a single grouped transaction.  The new transaction will have an amount equal to the sum of the grouped transaction amounts. If the  grouped transactions have different currencies, the new group transaction will be set in the user&#39;s default currency.&lt;br&gt;&lt;br&gt;  After a transaction has been grouped, the original transactions are no longer shown on the  transactions page or returned by a &#x60;GET /transactions&#x60; request. The newly created grouped  transaction is returned instead.  To see the details of the original transactions that were used to create a transaction group, use the &#x60;GET /transactions/{id}&#x60; endpoint and pass the ID of the grouped transaction. The grouped transactions will be included in the &#x60;children&#x60; property of the transaction returned in the response 
    # @param group_transactions_request [GroupTransactionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionObject, Integer, Hash)>] TransactionObject data, response status code and response headers
    def group_transactions_with_http_info(group_transactions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsGroupApi.group_transactions ...'
      end
      # verify the required parameter 'group_transactions_request' is set
      if @api_client.config.client_side_validation && group_transactions_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_transactions_request' when calling TransactionsGroupApi.group_transactions"
      end
      # resource path
      local_var_path = '/transactions/group'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_transactions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsGroupApi.group_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsGroupApi#group_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a transaction group
    # Deletes the transaction group with the ID specified on the path.<br> The transactions within the group are not removed and will subsequently be treated as \"normal\" ungrouped transactions.
    # @param id [Integer] ID of the transaction group to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def ungroup_transactions(id, opts = {})
      ungroup_transactions_with_http_info(id, opts)
      nil
    end

    # Delete a transaction group
    # Deletes the transaction group with the ID specified on the path.&lt;br&gt; The transactions within the group are not removed and will subsequently be treated as \&quot;normal\&quot; ungrouped transactions.
    # @param id [Integer] ID of the transaction group to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def ungroup_transactions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsGroupApi.ungroup_transactions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionsGroupApi.ungroup_transactions"
      end
      # resource path
      local_var_path = '/transactions/group/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsGroupApi.ungroup_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsGroupApi#ungroup_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
