=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class TransactionsFilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach a file to a transaction
    # Attaches a file to a transaction. The file must be less than 10MB in size.<br><br> The file will be attached to the transaction and can be downloaded from the link returned by a `GET /transactions/attachments/{file_id}` request.
    # @param transaction_id [Integer] 
    # @param file [File] The file to attach via multipart form encoding.  File size may not exceed 10MB. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :notes Optional notes about the file
    # @return [TransactionAttachmentObject]
    def attach_file_to_transaction(transaction_id, file, opts = {})
      data, _status_code, _headers = attach_file_to_transaction_with_http_info(transaction_id, file, opts)
      data
    end

    # Attach a file to a transaction
    # Attaches a file to a transaction. The file must be less than 10MB in size.&lt;br&gt;&lt;br&gt; The file will be attached to the transaction and can be downloaded from the link returned by a &#x60;GET /transactions/attachments/{file_id}&#x60; request.
    # @param transaction_id [Integer] 
    # @param file [File] The file to attach via multipart form encoding.  File size may not exceed 10MB. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :notes Optional notes about the file
    # @return [Array<(TransactionAttachmentObject, Integer, Hash)>] TransactionAttachmentObject data, response status code and response headers
    def attach_file_to_transaction_with_http_info(transaction_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsFilesApi.attach_file_to_transaction ...'
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling TransactionsFilesApi.attach_file_to_transaction"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling TransactionsFilesApi.attach_file_to_transaction"
      end
      # resource path
      local_var_path = '/transactions/{transaction_id}/attachments'.sub('{' + 'transaction_id' + '}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['notes'] = opts[:'notes'] if !opts[:'notes'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionAttachmentObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsFilesApi.attach_file_to_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsFilesApi#attach_file_to_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a file attachment
    # Deletes a file attachment from a transaction.
    # @param file_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_transaction_attachment(file_id, opts = {})
      delete_transaction_attachment_with_http_info(file_id, opts)
      nil
    end

    # Delete a file attachment
    # Deletes a file attachment from a transaction.
    # @param file_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_transaction_attachment_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsFilesApi.delete_transaction_attachment ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling TransactionsFilesApi.delete_transaction_attachment"
      end
      # resource path
      local_var_path = '/transactions/attachments/{file_id}'.sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsFilesApi.delete_transaction_attachment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsFilesApi#delete_transaction_attachment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a url to download a file attachment
    # Returns a signed url that can be used to download the file attachment.
    # @param file_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetTransactionAttachmentUrl200Response]
    def get_transaction_attachment_url(file_id, opts = {})
      data, _status_code, _headers = get_transaction_attachment_url_with_http_info(file_id, opts)
      data
    end

    # Get a url to download a file attachment
    # Returns a signed url that can be used to download the file attachment.
    # @param file_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTransactionAttachmentUrl200Response, Integer, Hash)>] GetTransactionAttachmentUrl200Response data, response status code and response headers
    def get_transaction_attachment_url_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsFilesApi.get_transaction_attachment_url ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling TransactionsFilesApi.get_transaction_attachment_url"
      end
      # resource path
      local_var_path = '/transactions/attachments/{file_id}'.sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTransactionAttachmentUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsFilesApi.get_transaction_attachment_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsFilesApi#get_transaction_attachment_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
