=begin
#Lunch Money API - v2

#Welcome to the Lunch Money v2 API.  A working version of this API is now available through these docs, or directly at:  `https://api.lunchmoney.dev/v2`  <span class=\"red-text\"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review  period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span> See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information on using a test budget.<p>  If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/changelog).  ### Static Mock Server  You may also use these docs to explore the API using a static mock server endpoint.<p>  This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p> To access this endpoint, select the second endpoint in the \"Server\" dropdown to the right. When selected, you should see \"Static Mock v2 Lunch Money API Server\".<br> When using this server, set your Bearer token to any string with 11 or more characters.  ### Migrating from V1  The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.  ### Acknowledgments  If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.  ### Useful links: - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started) - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog) - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits) - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev) - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)

The version of the OpenAPI document: 2.9.0
Contact: devsupport@lunchmoney.app
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module LunchMoney
  class TransactionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a transaction
    # Deletes the transaction with the ID specified on the path.<p> If the specified transaction is a split transaction or a split parent, or if it is a grouped transactions or part of a transaction group, the request will fail with a suggestion on how to unsplit or ungroup the transaction(s) prior to deletion. Otherwise, the specified transaction is deleted. <p> <span class=\"red-text\"><strong>Use with caution. This action is not reversible!</strong></span>
    # @param id [Integer] ID of the transaction to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_transaction_by_id(id, opts = {})
      delete_transaction_by_id_with_http_info(id, opts)
      nil
    end

    # Delete a transaction
    # Deletes the transaction with the ID specified on the path.&lt;p&gt; If the specified transaction is a split transaction or a split parent, or if it is a grouped transactions or part of a transaction group, the request will fail with a suggestion on how to unsplit or ungroup the transaction(s) prior to deletion. Otherwise, the specified transaction is deleted. &lt;p&gt; &lt;span class&#x3D;\&quot;red-text\&quot;&gt;&lt;strong&gt;Use with caution. This action is not reversible!&lt;/strong&gt;&lt;/span&gt;
    # @param id [Integer] ID of the transaction to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_transaction_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.delete_transaction_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionsApi.delete_transaction_by_id"
      end
      # resource path
      local_var_path = '/transactions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsApi.delete_transaction_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#delete_transaction_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single transaction
    # Retrieves the details of a specific transaction by its ID, including the following properties which are not returned by default in the response to a `GET /transactions` request:<br>  - `plaid_metadata` will either be `null` or contain the metadata for transactions associated with an account that is synced via plaid.  - `custom_metadata` will either be `null` or contain any custom_metadata added to transactions that were inserted or updated via the API. - `files` will be a list of objects that describe any attachments to the transaction.  If `is_group_parent` is true in the returned transaction, the object will also include the `children` property which will contain a list of the  original transactions that make up the transaction group.<br> If `is_split_parent` is true in the returned transaction, the object will also include the `children` property which will contain a list of the split transactions. 
    # @param id [Integer] ID of the transaction to retrieve
    # @param [Hash] opts the optional parameters
    # @return [TransactionObject]
    def get_transaction_by_id(id, opts = {})
      data, _status_code, _headers = get_transaction_by_id_with_http_info(id, opts)
      data
    end

    # Get a single transaction
    # Retrieves the details of a specific transaction by its ID, including the following properties which are not returned by default in the response to a &#x60;GET /transactions&#x60; request:&lt;br&gt;  - &#x60;plaid_metadata&#x60; will either be &#x60;null&#x60; or contain the metadata for transactions associated with an account that is synced via plaid.  - &#x60;custom_metadata&#x60; will either be &#x60;null&#x60; or contain any custom_metadata added to transactions that were inserted or updated via the API. - &#x60;files&#x60; will be a list of objects that describe any attachments to the transaction.  If &#x60;is_group_parent&#x60; is true in the returned transaction, the object will also include the &#x60;children&#x60; property which will contain a list of the  original transactions that make up the transaction group.&lt;br&gt; If &#x60;is_split_parent&#x60; is true in the returned transaction, the object will also include the &#x60;children&#x60; property which will contain a list of the split transactions. 
    # @param id [Integer] ID of the transaction to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionObject, Integer, Hash)>] TransactionObject data, response status code and response headers
    def get_transaction_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.get_transaction_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionsApi.get_transaction_by_id"
      end
      # resource path
      local_var_path = '/transactions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsApi.get_transaction_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#get_transaction_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing transaction
    # Modifies the properties of an existing transaction.<br><br> You may submit the response from a `GET /transactions/{id}` as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: `id`, `to_base`, `is_pending`, `created_at`, `updated_at`, `source`, and `plaid_metadata`.<br><br> Transactions that have been previously split or grouped may not be modified by this endpoint. Therefore the `is_split_parent`, `split_parent_id`, `is_group_parent`, `group_parent_id`, and `children` properties are also ignored when provided in the request body.<br><br> It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only an `category_id` attribute is valid.
    # @param id [Integer] ID of the transaction to update
    # @param update_transaction_object [UpdateTransactionObject] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :update_balance Set this to &#x60;false&#x60; to skip updating the transaction&#39;s associated account balance. Default behavior is to update balances.
    # @return [TransactionObject]
    def update_transaction(id, update_transaction_object, opts = {})
      data, _status_code, _headers = update_transaction_with_http_info(id, update_transaction_object, opts)
      data
    end

    # Update an existing transaction
    # Modifies the properties of an existing transaction.&lt;br&gt;&lt;br&gt; You may submit the response from a &#x60;GET /transactions/{id}&#x60; as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: &#x60;id&#x60;, &#x60;to_base&#x60;, &#x60;is_pending&#x60;, &#x60;created_at&#x60;, &#x60;updated_at&#x60;, &#x60;source&#x60;, and &#x60;plaid_metadata&#x60;.&lt;br&gt;&lt;br&gt; Transactions that have been previously split or grouped may not be modified by this endpoint. Therefore the &#x60;is_split_parent&#x60;, &#x60;split_parent_id&#x60;, &#x60;is_group_parent&#x60;, &#x60;group_parent_id&#x60;, and &#x60;children&#x60; properties are also ignored when provided in the request body.&lt;br&gt;&lt;br&gt; It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only an &#x60;category_id&#x60; attribute is valid.
    # @param id [Integer] ID of the transaction to update
    # @param update_transaction_object [UpdateTransactionObject] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :update_balance Set this to &#x60;false&#x60; to skip updating the transaction&#39;s associated account balance. Default behavior is to update balances.
    # @return [Array<(TransactionObject, Integer, Hash)>] TransactionObject data, response status code and response headers
    def update_transaction_with_http_info(id, update_transaction_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsApi.update_transaction ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionsApi.update_transaction"
      end
      # verify the required parameter 'update_transaction_object' is set
      if @api_client.config.client_side_validation && update_transaction_object.nil?
        fail ArgumentError, "Missing the required parameter 'update_transaction_object' when calling TransactionsApi.update_transaction"
      end
      # resource path
      local_var_path = '/transactions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'update_balance'] = opts[:'update_balance'] if !opts[:'update_balance'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_transaction_object)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerSecurity']

      new_options = opts.merge(
        :operation => :"TransactionsApi.update_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsApi#update_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
